<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LibraryManagementSystem.Properties.Settings.LibraryDB"
            connectionString="Data Source=<Enter Server>;Initial Catalog=LibraryDB;Persist Security Info=True;User ID=<Enter ID>;Password=<Enter PASS>"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>
